@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #7bf3cd;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Salsa', cursive;
    margin: 0;
    padding-top: 3rem;
}

.add {
    background-color: #7b81f3;
    border-radius: 3px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.add:hover {
    color: #0109a6;
}

.add:active {
    transform: translateY(2px);
}

.note {
    background-color: white;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
    margin: 20px;
    height: 400px;
    width: 400px;
}

.note .tools {
    background-color: #7b81f3;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.note .tools button {
    background-color: transparent;
    border: none;
    /* color: white; */
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 0.5rem;
}

.edit:active,
.delete:active {
    transform: translateY(2px);
}

.edit:hover {
    color: rgb(0, 255, 68);
}

.delete:hover {
    color: rgb(255, 0, 0);
}

.note .main {
    background-color: #e8e9ff;
    overflow: hidden;
    height: 400px;
    width: 100%;
}

.note textarea {
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    height: 400px;
    width: 100%;
}

.note .hidden {
    display: none;
}

